<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WS_ER3_hw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <WS_ER3_hw.Properties.Settings>
            <setting name="WS_ER3_hw_pl_aquael_er3_Z_HELLO_WORLD_2" serializeAs="String">
                <value>http://ER3.aquael.pl:8002/sap/bc/srt/rfc/sap/z_hello_world_2/010/z_hello_world_2/z_hello_world_2</value>
            </setting>
            <setting name="WS_ER3_hw_Z_DMS_Z_DMS" serializeAs="String">
                <value>http://er2.aquael.pl:8001/sap/bc/srt/rfc/sap/z_dms/001/z_dms/z_dms</value>
            </setting>
        </WS_ER3_hw.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Z_HELLO_WORLD_2">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='Z_HELLO_WORLD_2'>    -->
                    <!--        <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing">..</wsaw:UsingAddressing>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ER3.aquael.pl:8002/sap/bc/srt/rfc/sap/z_hello_world_2/010/z_hello_world_2/z_hello_world_2"
                binding="customBinding" bindingConfiguration="Z_HELLO_WORLD_2"
                contract="WebService_ZHELLOWORLD.Z_HELLO_WORLD_2" name="Z_HELLO_WORLD_2" />
        </client>
    </system.serviceModel>
</configuration>